body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.team-section {
    overflow: hidden;
    text-align: center;
    background: #34495e ;
    padding: 60px;
}

.team-section h1 {
    text-transform: uppercase;
    margin-bottom: 60px;
    font-size: 40px;
    color: white;
}

.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #3498db;
    margin-bottom: 40px;
}
 .ps{
     margin-bottom: 40px;
 }

 .ps a{
     display: inline-block;
     margin: 0 30px;
     width: 160px;
     height: 160px;
     overflow: hidden;
     /* border-radius: 50%; */
 }

 img {
     border-radius: 50%;
 }

.ps a img {
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
    
}

.ps a:hover > img {
    filter: none;
}

.section {
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify;
    overflow: hidden;
    /* height: 0; */
}

.name {
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}

section :target  {
    height: auto;
}

p i {
    text-align: justify;
    margin-top: 40px;
}

header{
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    display: block;
    background: white;
    height: 50px;
}

header h1{
    text-align: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

footer{
    background: #fff;
    min-height: 100hv;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.contact-info {
    display: flex;
    width: 100%;
    max-width: 120px;
    text-align: center;
    justify-content: center;
    padding: 0 20px;
}

.card {
    background: #2f3542;
    padding: 0 20px;
    margin: 0 10px;
    width: 115%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.card-icon {
    font-size: 20px;
    background: #ff6348;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
}

.card:hover .card-icon{
    background: none;
    color: #ff6348;
    transform: scale(1.6);
}

.card p {
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}

.card p:hover{
    max-height: 40px;
    opacity: 1;
}

.card p a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.uwu h1 {
    display: inline-block;
    color: #34495e;
    text-decoration: none;
    border: 2px solid black;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 0.4s linear;
}


